{{#each this}}
<div class="card-container">
    <div class="card-container__content">
        <h1>{{name}}</h1>
        <p><b>Capital:</b> {{capital}}</p>
        <p><b>Population:</b> {{ population }}</p>
        <p><b>Languages:</b>
        <ul>
            {{#each languages}}
            <li class="card-list">{{name}}</li>
            {{/each}}
        </ul>
        </p>
    </div>
    <div class="flag">
        <img src="{{ flag }}" alt="{{ name }}" width="400px">
    </div>
</div>
{{/each}}